@import '../../../../assets/scss/global.scss';

.container {
  display: flex;
  flex-direction: column;
  background-color: #f5f5f5;

  .wrap {
    flex: 1;
    height: 100%;
    overflow: hidden;
    .listItem {
      background: #ffffff;
      &:not(:last-child) {
        border-bottom: #eeeeee 2px solid;
      }
      .mainContent {
        display: flex;
        align-items: center;
      }
    }

    .listContent {
      flex: 1;
      height: 140px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-left: 32px;
    }

    .listTitle {
      font-size: 32px;
      font-weight: 500;
      color: #333333;
    }

    .listDesc {
      font-size: 28px;
    }

    .address {
      font-size: 25px;
      color: #999999;
    }
  }
}
