$primary-color: #cc2c3b; // 主色调
$primary-bg-color: #ffffff; // 主背景色
$main-fontsize: 28px; // 正文字号
$desc-fontsize: 24px; // 描述字号
$line-color: #eeeeee; // 线的颜色
$FILE_HOST: 'http://m.sadais.com/rescue/img/app_h5/';

$border: #eeeeee 2px solid;
