@import '../../../../assets/scss/global.scss';

.container {
  background-color: #f5f5f5;
  .steps {
    position: relative;
    width: 65%;
    display: flex;
    justify-content: space-between;
    margin: 40px auto;
    .step {
      padding: 0 20px;
      background: $gray-bg-color;
      z-index: 11;
    }
    &::before {
      content: '';
      position: absolute;
      left: 50%;
      top: 50%;
      width: 65%;
      height: 2px;
      background: #999999;
      transform: translate(-50%, -50%);
    }
    .num {
      display: inline-block;
      width: 40px;
      height: 40px;
      line-height: 40px;
      border-radius: 8px;
      background: #d8d8d8;
      color: #ffffff;
      text-align: center;
      margin-right: 16px;
      &.active {
        background: $primary-color;
      }
    }
  }
  .list {
    padding-top: 24px;
    .listItem {
      height: 110px;
      display: flex;
      padding: 0 32px;
      justify-content: flex-start;
      align-items: center;
      border-bottom: 1px solid rgba(238, 238, 238, 1);
      background: white;
      color: #333333;
      font-size: 30px;
      .icon {
        width: 48px;
        height: 48px;
        margin-right: 24px;
      }
      .name {
        font-weight: 500;
        flex: 1;
        text-align: left;
      }
      .right {
        text-align: right;
        font-weight: 400;
        padding-right: 24px;
      }
      .arrow {
        width: 16px;
        height: 20px;
      }
    }
  }
}
