@import '../../../../assets/scss/global.scss';

.container {
  display: flex;
  flex-direction: column;
  background-color: #f5f5f5;

  .nav {
    position: relative;
    .tool {
      position: absolute;
      top: 0;
      right: 0;
      height: $nav-height;
      line-height: $nav-height;
      padding: 0 24px;
      font-size: 28px;
      z-index: 1010;
      &.finish {
        color: $primary-color;
      }
    }
  }

  .wrap {
    flex: 1;
    height: 100%;

    .listItem {
      background: #ffffff;
      margin-top: 24px;
      &:not(:last-child) {
        border-bottom: #eeeeee 2px solid;
      }
      .mainContent {
        display: flex;
        align-items: center;
      }
      .itemTool {
        position: relative;
        display: flex;
        justify-content: flex-end;
        font-size: 24px;
        border-top: #eeeeee 2px solid;
        padding: 16px;
        .btnWrap {
          &:not(:last-child) {
            margin-right: 16px;
          }
        }
      }
    }

    .listContent {
      flex: 1;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding-left: 32px;
      position: relative;
      .btn {
        position: absolute;
        top: 0;
        right: 0;
      }
    }

    .listTitle {
      font-size: 32px;
      font-weight: 500;
      color: #333333;
    }

    .listDesc {
      font-size: 28px;
    }

    .address {
      font-size: 25px;
      color: #999999;
    }

    .img {
      width: 180px;
      height: 180px;
      background: #cc2c3b;
    }
    .btn {
      position: fixed;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      border-radius: 0;
    }
  }
}
