@import '../../../../assets/scss/global.scss';

.content {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  z-index: 1;
  padding-top: 160px;
  .wrap {
    $item-height: 80px;
    white-space: nowrap;
    border-top: $border;
    height: 320px; // 展现4个item的高度
    overflow: auto; // 超出范围 则滚动
    transition: offsetLeft 1s;
    .list {
      display: inline-block;
      width: 25%;
      max-width: 200px;
      height: 100%;
      border-right: $border;
      vertical-align: top;
    }
    .item {
      height: $item-height;
      line-height: $item-height;
      padding-left: 32px;
      color: #333333;
      border-bottom: $border;
      &.active {
        color: $primary-color;
        background-color: #fff6f7;
      }
    }
  }
  .btns {
    display: flex;
    border-top: $border;
    .btn {
      flex: 1;
      padding: 32px;
    }
  }
}
