@import '../../assets/scss/global.scss';

.content {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 11;
  .mask {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 11;
  }
  .wrap {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 24px;
    background: #ffffff;
    z-index: 1111;
    .btns {
      display: flex;
      .btn {
        flex: 1;
      }
    }
  }
}
